@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono';
}

.main-card{
    background-color: white;
    border-radius: 10px;
    padding: 0 4.4em;
}

.bill-form::placeholder {
    text-align: right;
}

.bill-form{
    background-image: url(/tip-calculator-app-main/images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 1em 1em;
    padding: 1em 2em;
    text-indent: 12.5em;
    border-radius: 4px;
    font-weight: 700;
    border: none;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
}


.tip-grid{
    display: grid;
    grid-template-columns: repeat(2, 6em);
    grid-template-rows: repeat(3, 2em);
    gap: 1em;
    justify-content: center;
}
.btn{
   background-color:  hsl(183, 100%, 15%);
   color: white;
   cursor: pointer;
   border-radius: .3em;
   border: none;
   font-weight: 700;
}

.btn:hover{
    background-color: hsl(172, 67%, 45%);
}

.custombtn{
    padding-left: 2.6em;
    color: hsl(183, 100%, 15%);
}

.people-form::placeholder{
    text-align: right;
}
.people-form{
    background-image: url(/tip-calculator-app-main/images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 1em 1em;
    padding: 1em 2em;
    text-indent: 12.5em;
    border-radius: 4px;
    font-weight: 700;
    border: none;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
}
.input-para{
    color: hsl(186, 14%, 43%);
}
